.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-text {
    color: var(--akcent-color);
}
.logo--footer {
    color: var(--akcent-text-color);
    margin-bottom: 20px;
}